<div class="nav-header bg-dark">
    <h3>Profile</h3>
    <div class="desktop-version nav-links">
        <a  href="#formation" class="nav-link btn">Formation</a>
        <a href="#workexperience"  class="nav-link btn">Expérience</a>
        <a href="#projets" class="nav-link btn">Projets</a>
        <a href="assets/docs/CV-10-03-2021-ANAGONOU-Patrick.pdf" target="_blank" rel="noopener noreferrer" class="nav-link btn">CV</a>
    </div>
    <div class="mob-version">
        <button class="btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu  #menu="matMenu">
            <a href="#formation"  mat-menu-item>
              <mat-icon>school</mat-icon>
              <span>Formation</span>
            </a>
            <a href="#workexperience" mat-menu-item >
              <mat-icon>grading</mat-icon>
              <span>Expérience</span>
            </a>
            <a href="#projets" mat-menu-item>
              <mat-icon>work</mat-icon>
              <span>Projets</span>
            </a>
            <a href="#cv" mat-menu-item>
              <mat-icon>description</mat-icon>
              <span><a href="assets/docs/cv_14_01_2021.pdf" target="_blank" rel="noopener noreferrer">CV</a></span>
            </a>
          </mat-menu>
    </div>
    
      
</div>