<div id="workexperience" class="mb-5">
    <h2 id="workxp-title" class="title-subjects text-center text-uppercase">Expérience</h2>
    <div class="row flex-row flex-wrap justify-content-around">
        <mat-card class="p-4 formation-elt" id="reduce">
            <div class=" text-center">
                <img class="nav-logo" src="https://www.3ds.com/statics/3ds-navigation//img/3DS_corporate-logo_blue.svg"
                    alt="I3S">
            </div>
            <div>
                <p class="card-text">Ingénieur logiciel | Stage</p>
                <p class="duration"><em class="far fa-2x fa-calendar-alt"></em> Mars 2022 à Septembre 2022</p>
                <p class="location"><em class="fas fa-2x fa-map-marker-alt"></em>Vélizy-Villacoublay, France</p>
                <p class=" text-justify description-role">Développement de nouvelles fonctionnalités sur une des
                    applications de la marque DELMIA. </p>
            </div>
            <div class="text-center">
                <a href="https://www.3ds.com/" class="btn btn-outline-info">Dassault Systèmes</a>
            </div>

            <mat-card-footer class="exp-footer">
                <mat-chip-list aria-label="Environnement technologique">
                    <mat-chip color="primary">JavaScript</mat-chip>
                    <mat-chip color="accent">RequireJS</mat-chip>
                </mat-chip-list>
            </mat-card-footer>

        </mat-card>
        <mat-card class="p-4 formation-elt" id="reduce">
            <div class=" text-center">
                <img class="nav-logo" src="/assets/img/logo-i3s.png" alt="I3S">
            </div>
            <div>
                <p class="card-text">Développeur P4 | Stage</p>
                <p class="duration"><em class="far fa-2x fa-calendar-alt"></em> mi-Juillet 2021 à mi-Septembre 2021</p>
                <p class="location"><em class="fas fa-2x fa-map-marker-alt"></em>Biot, France</p>
                <p class=" text-justify description-role"> Développement de protocoles réseaux tels que le protocole
                    VXLAN sur des
                    routeurs virtuels avec le langage P4.</p>
            </div>
            <div class="text-center">
                <a href="https://www.i3s.unice.fr/fr" class="btn btn-outline-info">I3S</a>
            </div>

        </mat-card>
        <mat-card class="p-4 formation-elt" id="reduce">
            <div class=" text-center">
                <img class="nav-logo" src="/assets/img/logo-ljgroup.png" alt="LJGROUP">
            </div>
            <div>
                <p class="card-text">Développeur Python | Stage</p>
                <p class="duration"><em class="far fa-2x fa-calendar-alt"></em> Mai 2019 à Août 2019</p>
                <p class="location"><em class="fas fa-2x fa-map-marker-alt"></em>Cotonou, Bénin</p>
                <p class=" text-justify description-role"> Création d’une application web basée sur
                    VueJs et
                    d’un service écrit en Python sur le robot Nao pour
                    permettre Nao de fournir à l’utilisateur des informations sur des médicaments.</p>
            </div>
            <div class="text-center">
                <a href="#" class="btn btn-outline-info">LJ Group</a>
            </div>

        </mat-card>
    </div>
</div>