<section id="formation" class="mb-5">
    <h2 class="text-center text-uppercase">Parcours</h2>
<div id="formations-wrapper" class="row flex-row flex-wrap justify-content-around">
    <mat-card class="formation-elt p-4">
        <div class=" row flex-row justify-content-between dishead-company">
            <img mat-card-image src="http://unice.fr/polytechnice/fr/contenus-riches/images/logos/logo-polytechnice/image_full"
                alt="Polytech Nice Sophia" class="logo">
        </div>
        <div>
            <p class="card-text">Etudiant Sciences Informatiques</p>
            <p class="duration"><em class="far fa-2x fa-calendar-alt"></em> 2019 à (en cours)</p>
            <p class="location"><em class="fas fa-2x fa-map-marker-alt"></em>Biot, France</p>
            <p class=" text-justify description-role"> </p>
        </div>
        <div class="text-center">


            <a href="http://unice.fr/polytechnice/fr/formation/informatique/" class="btn btn-outline-info">Polytech Nice
                Sophia</a>
        </div>
    </mat-card>
    <mat-card class="p-4 formation-elt">
        <div class=" text-center">
            <img src="http://mathfineco.org/images/logo.png" alt="IUM" class=" logo" width="100" height="100">
        </div>
        <div>
            <p class="card-text">Etudiant Prépa</p>
            <p class="duration"><em class="far fa-2x fa-calendar-alt"></em> Septembre 2017 à Mars 2019</p>
            <p class="location"><em class="fas fa-2x fa-map-marker-alt"></em>Abomey-Calavi,
                Bénin</p>
            <p class=" text-justify description-role"> </p>
        </div>
        <div class="text-center">
            <a href="http://mathfineco.org/" class="btn btn-outline-info">IUM</a>
        </div>
        
    </mat-card>

</div>
</section>
