/* You can add global styles to this file, and also import other style files */
body {
   font-family: "Source Code Pro", Arial, sans-serif;
   height: 100vh;
   width: 100%;
   margin: 0;
}

.formation-elt {
   width: 340px;
}

.mat-card{
   font-family: "Source Code Pro", Arial, sans-serif;
}
.mat-button{
   font-family: "Source Code Pro", Arial, sans-serif;
}